.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

html{
    font-family: "Inter", sans-serif;

}
header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    border-top: 2px solid rgb(11, 11, 11);
    border-width: 100%;
    border-bottom:ridge 2px;
    align-content: center;
    margin-bottom: 5px;
  }
.left{
    margin-left: 30px;
    outline-width: 2px;
    outline-color: black;
    font-weight: 600;
  }
.right {
    outline-width: 2px;
    display: flex;
    word-spacing: 10px ;
    justify-content: flex-end;
  }

  a{
    color: hotpink;
  }

body{
    margin-top: 2px;
    display: flexbox;
  }

.name{
    margin-top: 25%;
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
}
.name h1{
    font-weight: 600;
}
.info{
    float: right;
    width: 50%;
    bottom: 0;
    position: relative;
    background-color: gray;
    padding: 30px;
}

.info p, h2{
    text-align: left;
    color: white;
}

.info p{
    font-size: small;
}

.info h2{
    font-weight: normal;
}
.purple{
    color: plum
}