@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html {
    font-family: “Figtree”, sans-serif;
    color: #EF5504; 
    background-color: lightyellow;
    margin: 0px;
    padding: 0px;
}
header{
    border-top: 15px #EF5504 solid;
    border-bottom: 10px  #f2ae89 solid;
}

#flex-container {
    display: flex;
    flex-direction: column;
    font-weight: 1000;
    font-size: 45px;
}

.flex-item:first-child {

    justify-content: center;
    text-align: center;
}

.flex-item:not(first-child) {
    justify-content: center;
    text-align: right;
    margin-left: 50px;
}

#flex-container2 {
    display: flex;
    flex-wrap: wrap;
}
.flex-itemA {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.row1 {
    font-weight: 200;
    margin-bottom: 0;
}
.row2 {
    margin-bottom: 0;
    font-size: 70px;
}

.boxrow {
    display: flex;
    align-content: center;
    margin: 10px;
}

.rectangle {
   margin: 5px;
   padding: 10px;
    height: 6vh;
    width: 5vw;    
    background-color:#AB7255;
  }

.longrect {
    margin: 5px;
    padding: 10px;
    height: 15vh;
    width: 5vw;
    background-color:#AB7255;
  }

.flex-itemB {
    display: flex;
    flex-direction: row;
    width: -50vw;

}

.bigrect {
    margin: 5px;
    height: 100%;
    width: 30vh;
    background-color:#AB7255;
  }
  
.right{
    display: flex;
    flex-direction: column;


}

.medrect{
    margin: 5px;
    padding: 5px;
    height: 50%;
    width: 25vw;
    background-color:#AB7255;
}