body {
  color: #9d0808;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;


}
.aboutme {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  padding: 10px;
  outline-style: ridge;
  outline-width: 3px;

}

.aboutme:hover {
  background-color: rgba(255, 255, 0, 0.29);
  font-size: 18px;
}
.myskills {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  margin-top: 10px;
  padding: 10px;
  outline-style: ridge;
  outline-width: 3px;
}

.myskills:hover {
  background-color:rgba(255, 255, 0, 0.29);
  font-size: 18px;
}