body {
  background-color: bisque;
}

.mrs-sheppards {
  font-family: "Mrs Sheppards", cursive;
  font-weight: 400; 
  font-style: normal;
}

header {
  text-align: center;
  outline-color: darkgray;
  outline-style: ridge;
  outline-width: 3px;
}

h1 {
  font-family: "Mrs Sheppards", cursive;
  font-weight: 400;
  font-size: 800;
  color: rgb(1, 169, 169);
  text-spacing-trim: 3px;
  margin-top: 10px;
  text-align: center;
  text-shadow:
        0 0 10px #984848,
        0 0 20px #933636,
        0 0 30px #c03535,
        0 0 40px #6f2323;
  border-color: darkgray;
}

#outline {
  clear: left;
  outline-style: ridge;
  outline-color: darkred;
  padding-top: 5px;
  outline-style: ridge;
  outline-color: darkred;
}
#tvshape {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px auto;
  background: #0809fe;
  border-radius: 50% / 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tvshape::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

#tvshape iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#tvshape2 {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px auto;
  background: #0809fe;
  border-radius: 50% / 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tvshape2::before {
  content: "";
  position: absolute;
  float: right;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

#tvshape2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#coqui {
  margin-top: 10px;
  float: right;
  padding-top: 5px;
  outline-style: ridge;
  outline-color: darkred;
}

footer {
  float: none;
  padding-left: 5px;
  text-align: center;
  outline-color: darkgray;
  outline-style: ridge;
  outline-width: 3px;

}